[submodule "dotbot"]
	path = dotbot
	url = https://github.com/anishathalye/dotbot
[submodule "kitty/kitty-themes"]
	path = kitty/kitty-themes
	url = https://github.com/dexpota/kitty-themes.git
[submodule "bash/complete-alias"]
	path = bash/complete-alias
	url = https://github.com/cykerway/complete-alias.git
